.header {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tagline-container {
  flex-direction: column;
}

.tagline-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.tagline-subtitle {
  font-size: 20px;
  margin-top: 5px;
}

.button {
  padding: 15px 50px;
  min-width: 200px;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.section-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}

.title {
  color: #06152a;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  margin-top: 20px;
}

.subtitle {
  color: #06152a;
  font-weight: 500;
  font-size: 25px;
  line-height: 44px;
}

.text {
  color: #06152a;
  font-weight: 450;
  font-size: 20px;
}

.bold {
  font-weight: 600;
}

.section ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.section hr {
  margin-top: 20px;
  border: 1px solid #c7cfd7;
  width: 100%;
}

ol .title {
  margin-left: 0;
}