/* Nebula Sans Font Declarations - Based of 2018 Discord Whitney Declarations, 92.5% scale down is required since Nebula Sans is larger than Whitney */
@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-BookItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-MediumItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-Semibold.woff2') format('woff2');
  font-weight: 650;
  font-style: normal;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-SemiboldItalic.woff2') format('woff2');
  font-weight: 650;
  font-style: italic;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  size-adjust: 92.5%;
}

@font-face {
  font-family: 'Nebula Sans';
  src: url('/fonts/NebulaSans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  size-adjust: 92.5%;
}

body {
  margin: 0;
  font-family: 'Nebula Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.bg-hurple {
  background-color: #1f6ad3;
  color: white;
}

.bg-dark {
  background-color: #06152a;
  color: white;
}

.bg-white {
  background-color: white;
  color: #06152a;
}

.text-light-gray {
  color: #c7cfd7;
  fill: #c7cfd7;
}

.text-dark-gray {
  color: #7a8d9f;
  fill: #7a8d9f;
}

.text-black {
  color: #06152a;
  fill: #06152a;
}

.button {
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.button-disabled {
  background-color: #cdd4db;
  color: #7a8d9f;
  cursor: not-allowed;
}

.button-link {
  text-decoration: none;
  color: inherit;
}

.button-pushLeft {
  margin-right: 40px;
}

.button-white {
  background-color: white;
  color: #06152a;
}

.button-hurple {
  background-color: #1f6ad3;
  color: #fff;
}

.text-light-gray .button-hurple {
  background-color: #1f46d3;
  color: #fff;
}

.fade {
  opacity: 0.5;
}


